:root {
  --background-color: #fff;
  --background-color-transparent: rgba(255,255,255,0.6);
  --background-color-transparent-15: rgba(255,255,255,0.15);
  --background-color-transparent-40: rgba(255,255,255,0.4);
  --background-color-transparent-80: rgba(255,255,255,0.8);
  --second-background-color: #fafafa;
  --third-background-color: #f7f7f7;
  --third-background-color-transparent: rgba(241,241,241,0.6);
  --primary-color: #da70d6;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #5c6669;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --invert-text-color: #bebec6;
  --border-color: rgba(0,0,0,0.08);
  --selection-color: #de7eda;
  --shadow-color-1: rgba(0,0,0,0.08);
  --shadow-color-2: rgba(0,0,0,0.05);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #c1c1c1;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #fafafa;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --archive-timeline-last-child-color: linear-gradient(to bottom, #e8e8e8 60%, rgba(0,0,0,0) 100%) 1 100%;
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-type-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
  --home-banner-text-color: #000;
  --home-banner-icons-container-border-color: rgba(255,255,255,0.35);
  --home-banner-icons-container-background-color: rgba(255,255,255,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: $mermaid-theme;
}
.light-mode {
  --background-color: #fff;
  --background-color-transparent: rgba(255,255,255,0.6);
  --background-color-transparent-15: rgba(255,255,255,0.15);
  --background-color-transparent-40: rgba(255,255,255,0.4);
  --background-color-transparent-80: rgba(255,255,255,0.8);
  --second-background-color: #fafafa;
  --third-background-color: #f7f7f7;
  --third-background-color-transparent: rgba(241,241,241,0.6);
  --primary-color: #da70d6;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #5c6669;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --invert-text-color: #bebec6;
  --border-color: rgba(0,0,0,0.08);
  --selection-color: #de7eda;
  --shadow-color-1: rgba(0,0,0,0.08);
  --shadow-color-2: rgba(0,0,0,0.05);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #c1c1c1;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #fafafa;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --archive-timeline-last-child-color: linear-gradient(to bottom, #e8e8e8 60%, rgba(0,0,0,0) 100%) 1 100%;
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-type-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
  --home-banner-text-color: #000;
  --home-banner-icons-container-border-color: rgba(255,255,255,0.35);
  --home-banner-icons-container-background-color: rgba(255,255,255,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: $mermaid-theme;
}
.dark-mode {
  --background-color: #202124;
  --background-color-transparent: rgba(32,33,36,0.4);
  --background-color-transparent-15: rgba(32,33,36,0.15);
  --background-color-transparent-40: rgba(32,33,36,0.4);
  --background-color-transparent-80: rgba(32,33,36,0.8);
  --second-background-color: #242529;
  --third-background-color: #292b2f;
  --third-background-color-transparent: rgba(32,33,36,0.6);
  --primary-color: #da70d6;
  --first-text-color: #d2d2d7;
  --second-text-color: #cbcbd1;
  --third-text-color: #9595a2;
  --fourth-text-color: #36363e;
  --default-text-color: #bebec6;
  --invert-text-color: #373d3f;
  --border-color: rgba(255,255,255,0.08);
  --selection-color: #de7eda;
  --shadow-color-1: rgba(255,255,255,0.08);
  --shadow-color-2: rgba(255,255,255,0.05);
  --shadow-hover-color: rgba(69,69,69,0.28);
  --scrollbar-color: #898989;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #2a2c30;
  --link-color: #c5c5cc;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --archive-timeline-last-child-color: linear-gradient(to bottom, #323232 60%, rgba(255,255,255,0) 100%) 1 100%;
  --note-blue-title-bg: #1e3e46;
  --note-red-title-bg: #4e1e1e;
  --note-cyan-title-bg: #1e4e4e;
  --note-green-title-bg: #1e4e1e;
  --note-yellow-title-bg: #4e4e1e;
  --note-gray-title-bg: #4e4e4e;
  --note-type-title-bg: #4e3a1e;
  --note-black-title-bg: #1e1e1e;
  --note-purple-title-bg: #4e1e4e;
  --home-banner-text-color: #383830;
  --home-banner-icons-container-border-color: rgba(197,197,197,0.35);
  --home-banner-icons-container-background-color: rgba(197,197,197,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: $dark-mermaid-theme;
}
@media (max-width: 640px) {
  .page-template-container {
    padding: 1.2rem 0.2rem;
    box-shadow: none;
  }
  .page-template-container:hover {
    box-shadow: none;
  }
}
.page-template-container .page-template-content {
  color: var(--default-text-color);
}
.page-template-container .page-template-content h1:first-child,
.page-template-container .page-template-content h2:first-child,
.page-template-container .page-template-content h3:first-child,
.page-template-container .page-template-content h4:first-child,
.page-template-container .page-template-content h5:first-child,
.page-template-container .page-template-content h6:first-child {
  margin: 6px 0 36px 0;
  border-bottom: none;
  line-height: 1;
}
.page-template-container #shuoshuo-content img:hover {
  cursor: zoom-in;
}
.page-template-container #masonry-container {
  position: relative;
  display: none;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.page-template-container #masonry-container .masonry-item {
  position: absolute;
  box-sizing: border-box;
}
.page-template-container #masonry-container .masonry-item:hover img {
  box-shadow: var(--redefine-box-shadow);
}
.page-template-container #masonry-container .masonry-item img {
  width: 100%;
  border-radius: 14px;
  box-shadow: var(--redefine-box-shadow-flat);
  cursor: zoom-in;
}
.page-template-container .loading-placeholder {
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.1s ease-out;
}
.page-template-container .loading {
  -webkit-animation: gradient-slide 1.1s ease infinite;
  animation: gradient-slide 1.1s ease infinite;
  background: 0 0/300% 300% linear-gradient(120deg, rgba(156,156,156,0.125) 40%, rgba(131,131,131,0.145) 50%, rgba(156,156,156,0.125) 60%);
}
.page-template-container .flex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .page-template-container .flex-grid {
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  }
}
.page-template-container .card {
  border: 1px solid var(--border-color);
  border-radius: 14px;
  box-sizing: border-box;
  min-height: 80vh;
  padding: 30px;
}
.page-template-container .image-container {
  position: relative;
}
.page-template-container .image-title {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--default-text-color);
  background-color: var(--background-color-transparent-40);
  padding: 5px 10px;
  font-size: 14px;
  opacity: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 9px;
  transition: opacity 0.2s ease-out;
}
.page-template-container .image-description {
  position: absolute;
  bottom: 11px;
  right: 5px;
  color: var(--default-text-color);
  background-color: var(--background-color-transparent-40);
  padding: 5px 10px;
  font-size: 14px;
  opacity: 0;
  max-width: 80%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 9px;
  transition: opacity 0.2s ease-out;
}
.page-template-container figure.image-caption img {
  margin-bottom: 0;
}
.page-template-container figure.image-caption figcaption {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--third-text-color);
}
.page-template-container .image-container:hover .image-title,
.page-template-container .image-container:hover .image-description {
  opacity: 1;
}
.page-template-container .image-container img {
  width: 100%;
  height: auto;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}
.page-template-container .image-container:hover img {
  box-shadow: var(--redefine-box-shadow-hover);
}
@-moz-keyframes gradient-slide {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes gradient-slide {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
@-o-keyframes gradient-slide {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
@keyframes gradient-slide {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
