.post-toc-wrap {
  width: 100%;
  font-size: 0.92rem;
  box-sizing: border-box;
  font-family: $english-font-family, $chinese-font-family, 'Noto Sans', 'Noto Sans SC', sans-serif;
}
.post-toc-wrap .post-toc .toc-title {
  font-size: 0.8rem;
  color: var(--default-text-color);
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.post-toc-wrap .post-toc .page-title {
  white-space: normal;
  font-size: 1.1rem;
  color: var(--second-text-color);
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.post-toc-wrap .post-toc ol {
  list-style: none;
  margin: 0;
  padding: 0 2px 12px 10px;
  text-align: left;
}
.post-toc-wrap .post-toc ol ol {
  border-left: 2px dotted var(--shadow-color-1);
}
.post-toc-wrap .post-toc ol:last-child {
  padding-bottom: 0;
}
.post-toc-wrap .post-toc ol > ol {
  padding-left: 0;
}
.post-toc-wrap .post-toc ol a {
  transition-property: all;
}
.post-toc-wrap .post-toc .nav-item {
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}
.post-toc-wrap .post-toc .nav-item a > span:first-child::before {
  content: ' ';
  width: 10px;
  height: 1.7rem;
  margin: auto 0;
  transform: translate(-12px, 0);
  border-left: 2px solid var(--primary-color);
  position: absolute;
  margin-right: 4px;
  color: var(--primary-color);
  opacity: 0;
  transition: all 0.1s linear;
}
.post-toc-wrap .post-toc .nav .nav-child {
  display: block;
}
.post-toc-wrap .post-toc .nav .active > .nav-child {
  display: block;
}
.post-toc-wrap .post-toc .nav .active-current > .nav-child {
  display: block;
}
.post-toc-wrap .post-toc .nav .active-current > .nav-child > .nav-item {
  display: block;
}
.post-toc-wrap .post-toc .nav .nav-number,
.post-toc-wrap .post-toc .nav .nav-text {
  color: var(--third-text-color);
  padding-left: 0;
  transition: all 0.3s ease;
}
.post-toc-wrap .post-toc .nav .active > a .nav-number,
.post-toc-wrap .post-toc .nav .active > a .nav-text {
  color: var(--primary-color);
  font-weight: bold;
}
.post-toc-wrap .post-toc .nav .active-current .nav-number,
.post-toc-wrap .post-toc .nav .active-current .nav-text {
  color: var(--primary-color) !important;
  font-weight: bold;
  transition: all 0.3s ease;
}
.post-toc-wrap .post-toc .nav .active-current > span:first-child::before {
  content: ' ';
  width: 10px;
  height: 1.7rem;
  margin: auto 0;
  transform: translate(-12px, 0);
  border-left: 2px solid var(--primary-color);
  position: absolute;
  margin-right: 4px;
  color: var(--primary-color);
  opacity: 1;
  transition: all 0.1s linear;
}
